<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="consoleOutputRowCount" value="2" />
    <add key="pm_input" value="e3gPm_input.xml" />
    <add key="pm_columns" value="UtranCell;UtranRelation;GsmRelation;" />
    <add key="pm_counters" value="pmNoRabEstablishSuccessSpeech;pmNoSystemRabReleaseSpeech;pmNoSpeechDchDiscAbnorm;pmNoRabEstablishAttemptSpeech;pmNoDirRetrySuccess;pmTotNoRrcConnectReqCsSucc;pmTotNoRrcConnectReqCs;pmNoLoadSharingRrcConnCs;pmNoRabEstablishSuccessPacketInteractive;pmNoRabEstablishSuccessPacketStream;pmNoRabEstablishSuccessPacketStream128;pmNoRabEstablishAttemptPacketInteractive;pmNoRabEstablishAttemptPacketStream;pmNoRabEstablishAttemptPacketStream128;pmTotNoRrcConnectReqPsSucc;pmTotNoRrcConnectReqPs;pmNoLoadSharingRrcConnPs;pmCellDowntimeAuto;pmCellDowntimeMan;pmSumBestCs12Establish;pmSamplesBestCs12Establish;pmSumBestAmr12200RabEstablish;pmSamplesBestAmr12200RabEstablish;pmSumBestAmr7950RabEstablish;pmSamplesBestAmr7950RabEstablish;pmSumBestAmr5900RabEstablish;pmSamplesBestAmr5900RabEstablish;pmSumBestAmr4750RabEstablish;pmSamplesBestAmr4750RabEstablish;pmAttNonBlindInterFreqHoCsSpeech12;pmNoAttOutIratHoMulti;" />
    <add key="cm_input" value="e3gCm_input.xml" />
    <add key="cm_columns" value="UtranCell;UtranRelation;GsmRelation;" />
    <add key="cm_parameters" value="localCellId;uarfcnUl;uarfcnDl;selectionPriority;qOffset1sn" />
  </appSettings>
</configuration>